{% extends "shop/shop_base.html" %}
{% block body_block %}
  <div class="jumbotron">

    <h1>Products to choose from</h1>
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">In Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.price}}</td>
        <td>{{product.in_stock_quantity}}</td>
        <td>
          <form action="{% url 'shop:list' %}" method="GET">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <input class="btn btn-primary" type="submit" value="Add to gift list">
          </form>
        </td>
      <tr>
    {% endfor %}
    </tbody>
    </table>
  </div>


{% endblock %}
