{% extends "shop/shop_base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Product Details:</h1>
    <p>Id_num: {{product_details.id}}</p>
    <p>Name: {{product_details.name}}</p>
    <p>Brand: {{product_details.brand}}</p>
    <p>Price: {{product_details.price}}</p>
	<p>In stock: {{product_details.in_stock_quantity}}</p>
    <h3>Chosen as gift:</h3>

      {% for gift in product_details.gifts.all %}
        <p>Chosen by {{gift.bride}} and {{gift.groom}}.</p>
      {% endfor %}

  </div>

{% endblock %}
